body {
  background-color: black;
  display: flex;
  align-items: center;
}
.container {
  border: 1px solid black;
  margin: 50px;
  border-radius: 20px;
  align-items: center;
  width: 50vh;
  height: auto;
  color: white;
  background-color: rgb(48, 52, 47);

  padding: 20px;
}

.registration {
  text-align: center;
}
