body {
  display: flex;
  align-items: center;
}
.container {
  border: 1px solid black;
  margin: 50px;
  border-radius: 20px;
  align-items: center;
  width: 50vh;
  height: auto;
  background-color: bisque;
  padding: 20px;
}

.registration {
  text-align: center;
}
