body {
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 52, 47);
}
h2 {
  color: #ffffff;
}
p {
  font-size: larger;
  font-weight: 600;
  margin-left: 5px;
  color: #ffffff;
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-weight: 600;
  margin: 10px;
}
nav {
  border-radius: 20px;
  background-color: rgb(63, 72, 69);
  width: 100%;
  padding: 20px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  margin: 20px;
}
.image {
  display: flex;
  align-items: center;
}
img {
  border-radius: 50%;
  height: 100px;
}
.cardstyle {
  background-color: rgb(79, 78, 78);
  color: #ffffff;
}
#aboutus_div {
  background-color: rgb(79, 78, 78);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}
footer {
  background-color: rgb(63, 72, 69);
  padding: 10px;
  border-radius: 10px;
  gap: 0px;
}
